<div id="one-div" class="col-div" style="width: 100%;">
    <button type="button" id="top" style="width: 60px; height: 60px;">
        <img src="/images/top.png" width="30" height="30" alt="scroll top" />
    </button>
    <div class="col-div" id="res-header">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 25px 0;">
                <a href="cart" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <h4 class="font-weight-bold">장바구니</h4>
                    </div>
                </a>
            </li>
        </ol>
    </div>
    <div class="container mb-2 mt-2">
        <form id="remove-form" style="display: none;">
            <input type="hidden" name="userId" value="<%= userId %>" />
            <input type="hidden" name="productNum" />
        </form>
        <div id="cart-list">
            <!-- 장바구니에 담은 상품 -->
            <% if (carts.length > 0) { %> <% for (var i = 0; i < carts.length; i++) { %>
            <div class="cart-item d-md-flex justify-content-between">
                <button type="button" class="remove-item" onclick="carryInfo(event);" value="<%= carts[i].productNum %>">
                    <i class="fa fa-times"></i>
                </button>
                <div class="px-3 my-3">
                    <a class="cart-item-product" href="#">
                        <div class="cart-item-product-thumb"><img src="<%= carts[i].thumbnailImg %>" alt="Product" /></div>
                        <div class="cart-item-product-info">
                            <h4 class="cart-item-product-title"><%= carts[i].productName %></h4>
                            <span><strong>옵션</strong><br />옵션 없음</span>
                        </div>
                    </a>
                </div>
                <div class="px-3 my-3 text-center">
                    <div class="cart-item-label">수량</div>
                    <div class="count-input">
                        <select id="each-<%= i %>" class="form-control" onchange="priceChange(event);">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="px-3 my-3 text-center">
                    <div class="cart-item-label">담은 금액</div>
                    <span id="print-<%= i %>" class="text-xl font-weight-medium"><%= Number(carts[i].productPrice).toLocaleString("en") %>원</span>
                    <input id="origin-<%= i %>" type="hidden" value="<%= carts[i].productPrice %>" />
                    <input class="sum-list" id="price-<%= i %>" type="hidden" value="<%= carts[i].productPrice %>" />
                </div>
            </div>
            <% } %> <% } else { %>
            <p class="text-center mt-4">장바구니에 담긴 상품이 없습니다!</p>
            <% } %>
        </div>
        <!-- 주문 시 요청 사항 + 총 담은 금액 -->
        <div class="d-sm-flex justify-content-between align-items-center text-center text-sm-left">
            <form class="form-inline py-2" style="width: 100%;" onsubmit="event.preventDefault();">
                <label class="sr-only">주문 시 요청 사항</label>
                <input class="form-control form-control-sm my-2 mr-3" type="text" placeholder="주문 시 요청 사항" style="width: 80%;" />
                <!-- modal 구동 버튼 (trigger) -->
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                    적용하기
                </button>
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myModalLabel">주문 시 요청 사항</h4>
                            </div>
                            <div class="modal-body">주문 시 요청 사항이 적용됐습니다!</div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="py-2">
                <span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase mr-2">총 담은 금액:</span
                ><span id="sum-result" class="d-inline-block align-middle text-xl font-weight-medium">
                    <%= Number(sumPrice).toLocaleString("en") %>원</span
                >
            </div>
        </div>
        <!-- 쇼핑으로 돌아가기 & 구매하기 -->
        <hr class="my-2" />
        <div class="row pt-3 mb-2">
            <div class="col-sm-6 mb-3">
                <a class="btn btn-style-1 btn-secondary btn-block" href="/mogeum/3" style="border: none;"
                    ><i class="fe-icon-refresh-ccw"></i>&nbsp;쇼핑으로 돌아가기</a
                >
            </div>
            <div class="col-sm-6 mb-3">
                <button
                    type="button"
                    class="btn btn-style-1 btn-custom btn-block buy"
                    onclick="alert('준비 중인 기능입니다!');"
                    style="border: none;"
                >
                    <i class="fe-icon-credit-card"></i>&nbsp;구매하기
                </button>
            </div>
        </div>
    </div>
</div> <!-- 메인 페이지 전체 감싸는 div -->
</body>
<script src="/javascripts/nav.js"></script>
<script src="/javascripts/oneMogeum.js"></script>
<script src="/javascripts/twoMogeum.js"></script>
<script src="/javascripts/cart.js"></script>
<script>
/* ios css 고려 */
if (checkMobile() === 'ios') {
    $("#res-header").css("margin-bottom", "80px");
}
/* 장바구니 삭제 함수 */
$('#remove-form').on('submit', function (event) {
event.preventDefault();
deleteCart().then(data => {
    if (data.status === 1) { // 장바구니 삭제 성공
        selectCart();
        alert("장바구니에서 삭제되었습니다!");
    } else { // 장바구니 삭제 실패
        alert("올바르지 않은 접근입니다!");
    }
}); 
});
</script>
</html>