<body style="display: flex;">
    <nav id="nav" class="col-div">
        <input id="page" type="text" style="display: none;" value="<%= page %>" />
            <a href="/" id="logo" class="col-div mx-auto" style="width: 100%; display: flex; flex-direction: unset; justify-content: center;">
                <img src="/images/logo-gif.gif" id="logo-video" width="150" height="90" alt="해당 브라우저는 video 태그를 지원하지 않습니다.">
                <img src="/images/icon.png" id="logo-img" width="45" height="59">
            <!-- 아이폰 모바일로는 비디오처럼 보이니까 media query 통해서 모바일로는 이미지로 보이게? -->
            </a>
            <p class="mx-auto d-block text-white" style="text-align: center; margin-bottom: 15px;">세상의 모든 금손</p>
            
        <div id="userdiv">
            <h5 class="text-center text-white" style="margin-bottom: 20px;"><span id="page-userName"><%= userName %></span>님 환영합니다.</h5>
            <div class="login-menu">
                <a href="<%= signUpUrl %>"><%= signUpLabel %></a>
                <a href="<%= loginUrl %>"><%= loginLabel %></a>
            </div>
        </div>
        <div id="page-menu" class="col-div">
            <a id="page-1" href="/mogeum/1"><img src="/images/like.png" class = "icon" width="27" height="27" />&nbsp;한 모금, 투표하기</a>
            <a id="page-2" href="/mogeum/2"><img src="/images/star.png" class = "icon" width="27" height="27" />&nbsp;두 모금, 선정결과</a>
            <a id="page-3" href="/mogeum/3"><img src="/images/shopping-cart.png" class = "icon" width="27" height="27" />&nbsp;세 모금, 구매하기</a>
        </div>
        <button id="logout" type="button">
            <a href="/users/logout"><img src="/images/logout (1).png" width="30" height="30" alt="logout" /></a>
        </button>
    </nav>
