<body style="display: flex;">
    <nav id="nav" class="col-div">
        <input id="page" type="text" style="display: none;" value="<%= page %>"/>
        <a href="/" id="logo" class="col-div" style="width: 100%;">
            <img src="http://placehold.it/220x80" alt="세모금 로고" width="220" height="80" style="margin: 10px auto;" />
            <p class="mx-auto d-block text-white">세상의 모든 금손</p>
        </a>
        <div id="userdiv">
            <h5 class="text-center text-white" style="margin-bottom: 20px;"><span id="page-userName"><%= userName %></span>님 환영합니다.</h5>
            <div class="login-menu">
                <a href="<%= signUpUrl %>"><%= signUpLabel %></a>
                <a href="<%= loginUrl %>"><%= loginLabel %></a>
            </div>
            <div class="login-menu">
                <a href="/notice" class="text-white">공지사항</a>
                <a href="/cart" class="text-white">장바구니</a>
            </div>
        </div>
        <div id="page-menu" class="col-div">
            <a id="page-1" href="/mogeum/1"><img src="/images/rank.png" width="27" height="27" />&nbsp;한 모금, 투표하기</a>
            <a id="page-2" href="/mogeum/2"><img src="/images/rank.png" width="27" height="27" />&nbsp;두 모금, 선정결과</a>
            <a id="page-3" href="/mogeum/3"><img src="/images/rank.png" width="27" height="27" />&nbsp;세 모금, 구매하기</a>
        </div>
    </nav>