<div id="one-div" class="col-div" style="width: 100%;">
    <div class="col-div" id="res-header">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 15px 0;">
                <a href="/mogeum/1" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <b class="d-day text-danger bg-white" style="margin: 0 10px;">D-4</b>
                        <h4 class="font-weight-bold">5월의 상품에 투표해 주세요!</h4>
                    </div>
                    <span id="sub-notice" style="font-size: 14px;">상품화 되었으면 하는 제품 및 아이디어에 투표해 주세요.</span>
                </a>
            </li>
        </ol>
    </div>
    <button type="button" id="top" style="width: 60px; height: 60px;">
        <img src="/images/top.png" width="30" height="30" alt="scroll top" />
    </button>
    <div id="one-div-main" class="container">
        <div id="realtime-ranking">
            <h5 class="font-weight-bold mt-3 mb-3">실시간 랭킹</h5>
            <h6 class="font-weight-bold text-black">상품화 될 가능성이 높아요!</h6>
            <ol>
                <li>
                    <% for (var num = 0; num < 3; num++) { %>
                        <% if (rankList[num] !== undefined) { %>
                            <a href="/mogeum-detail/1/<%= rankList[num].productNum %>">
                                <p class="ranking-item mt-2"><%= num + 1 %>. <%=rankList[num].productName%></p>
                            </a>
                        <% } else { %>
                        <% } %>
                    <% } %>
                </li>
            </ol>
            <h6 class="font-weight-bold text-black">조금만 더 힘내요!</h6>
            <ol>
                <li>
                    <% for (var num = rankList.length - (rankList.length - 3); num < rankList.length - (rankList.length - 6); num++) { %>
                        <% if (rankList[num] !== undefined) { %>
                            <a href="/mogeum-detail/1/<%= rankList[num].productNum %>">
                                <p class="ranking-item mt-2"><%= num + 1 %>. <%=rankList[num].productName%></p>
                            </a>
                        <% } %>
                    <% } %>
                </li>
            </ol>
            <div id="vote-manual">
                <h6 class="font-weight-bold" style="line-height: 200%;">투표 관련 조항</h6>
                <ul>
                    <li id="vote">1. 투표는 한 달에 5번 가능합니다.</li>
                    <li id="vote">2. 투표는 실시간으로 집계/반영됩니다.</li>
                    <li id="vote">3. 투표는 매달 셋째 주 금요일 23시 59분까지 반영됩니다.</li>
                    <li id="vote">4. 투표 기간 외 투표는 무효 처리됩니다.</li>
                    <li id="vote">5. 투표 관련 문의는 고객센터 1577-0124를 통해 문의해주세요.</li>
                </ul>
            </div>
        </div>
        <div id="vote-list" style="width: 100%;">
            <h5 class="font-weight-bold mt-3 mb-3">접전 끝에 선정된, 5월의 상품 후보를 소개합니다!</h5>
            <div class="row">
                <form method="POST" action="/mogeum-detail/1" name="hiddenInput" id="one-form">
                    <input type="hidden" name="prodName" />
                </form>
                <% prodList.forEach(function(prod, i) { %>
                <div class="col-lg-4 col-sm-6 mb-4">
                    <a href="/mogeum-detail/1/<%= prod.productNum %>">
                        <div class="card h-90">
                            <input type="hidden" id="tempName-<%= i %>" value="<%=prod.productName%>" />
                            <input type="hidden" id="tempName-<%= i %>" value="<%=prod.productName%>" />
                            <img class="card-img-top" src="<%= prod.thumbnailImg %>" alt="" />
                            <div class="card-body">
                                <h6 class="card-title text-center">
                                    <strong><%=prod.productName%></strong>
                                </h6>
                                <p class="card-text" style="font-size: 14px;"><%=prod.productIntro%></p>
                            </div>
                        </div>
                    </a>
                </div>
                <% }); %>
            </div>
            <!-- /row -->
        </div>
        <!-- /vote-list -->
    </div>
    <!-- /one-div-main -->
</div> <!-- /one-div -->
</body>
<script src="/javascripts/nav.js"></script>
<script src="/javascripts/oneMogeum.js"></script>
<script>
    if (checkMobile() === 'ios') {
        $("#res-header").css("margin-bottom", "80px");
    } // ios css 고려
</script>
</html>
