<div id="one-div" class="col-div" style="width: 100%;">
    <input type="hidden" name="productNum" value="<%= product.productNum %>"/>
    <input type="hidden" name="click-cnt" value="<%= product.clickCnt %>"/>
    <button type="button" id="top" style="width: 60px; height: 60px;">
        <img src="/images/top.png" width="30" height="30" alt="scroll top" />
    </button>
    <div class="col-div mb-3" id="res-header">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 15px 0;">
                <a href="/mogeum/3" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <h4 class="font-weight-bold">세 모금, 세상에 나오다!</h4>
                    </div>
                    <span id="sub-notice" style="font-size: 14px;">세상 어디에도 없는, 세모금만의 상품입니다.</span>
                </a>
            </li>
        </ol>
    </div>
    <div id="one-div-main" class="container mb-6">
        <!-- 제품 간단 소개, 투표 상태 -->
        <div id="current-vote" class="mb-3">
            <h5 class="font-weight-bold mt-3 mb-3 text-center prodName"><%= product.productName %></h5>
            <p class="text-center"><%= product.productIntro %></p>
            <h5 class="text-dark font-weight-bold text-right mb-3"><%= Number(product.productPrice).toLocaleString("en") %>원</h5>
            <form id="cart-form" method="PUT">
                <div style="display: flex;">
                    <button type="button" class="text-white" onclick="alert('준비 중인 서비스 입니다.');">구매하기</button>
                    <button class="text-white">장바구니</button>
                </div>
                <select id="purchase-option" class="mt-3 sel-css" value="0" onchange="updatePrice();"> 
                    <option value='0'>옵션 없음</option>
                    <option value='3000'>선물 포장 (+3000)</option>
                    <option value='5000'>세모금 스티커 (+5000)</option>
                </select>
                <hr />
                <input id="origin-price" type="hidden" value="<%= product.productPrice %>" />
                <input id="result-price" type="hidden" value=""/>
                <h5 id="result-print" class="text-right font-weight-bold">총 금액 <%= Number(product.productPrice).toLocaleString("en") %>원</h5>
                <input type="hidden" name="productNum" value="" />
            </form>
        </div>
        <div id="product-detail" class="mb-50" style="z-index: 0;">
            <!-- 제품 사진 -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="custCarousel" class="carousel slide text-center" data-ride="carousel">
                            <!-- slides -->
                            <div class="carousel-inner">
                                <div class="carousel-item active"><img src="<%= product.thumbnailImg %>" alt="Hills" /></div>
                                <div class="carousel-item"><img src="<%= product.detailImg1 %>" width="500" height="500" alt="Hills" /></div>
                                <div class="carousel-item"><img src="<%= product.detailImg2 %>" width="500" height="500" alt="Hills" /></div>
                                <div class="carousel-item"><img src="<%= product.detailImg3 %>" width="500" height="500" alt="Hills" /></div>
                            </div>
                            <!-- Left right -->
                            <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#custCarousel" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                            <!-- Thumbnails -->
                            <ol class="carousel-indicators list-inline">
                                <li class="list-inline-item active">
                                    <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel">
                                        <img src="<%= product.thumbnailImg %>" class="img-fluid" width="100" height="100"/>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel">
                                        <img src="<%= product.detailImg1 %>" class="img-fluid" width="100" height="100"/>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">
                                        <img src="<%= product.detailImg2 %>" class="img-fluid" width="100" height="100"/>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel">
                                        <img src="<%= product.detailImg3 %>" class="img-fluid" width="100" height="100"/>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 제품 소개 -->
            <div id="detail-intro" style="padding: 0 20px;">
                <hr class="mb-3" />
                <ul style="display: flex; justify-content: space-between;">
                    <li><a href="#sell-info" class="text-muted">상품 정보</a></li>
                    <li><a href="#sell-deli" class="text-muted">배송/교환/환불</a></li>
                    <li><a href="#sell-review" class="text-muted">후기</a></li>
                </ul>
                <hr class="mt-3" />
                <!-- 상품 정보 -->
                <div id="sell-info" class="mb-5" >
                    <img src="<%= product.descImg1 %>" style="width: 100%; margin-bottom: 50px;"/>
                    <img src="<%= product.descImg2 %>" style="width: 100%;"/>
                </div>
                <!-- 배송 관련 -->
                <div id="sell-deli" class="mb-2">
                    <img src="/images/deli.png" style="width: 100%;"/>
                </div>
                <!-- 리뷰 -->
                <hr />
                <h6 class="mb-3"><strong>상품 리뷰</strong><small style="float: right;">상품에 대한 리뷰를 남겨주세요!</small></h6>
                <div id="sell-review" class="container">
                    <form id="review-form" class="form-block mb-5" method="POST">
                        <div class="row" id="comment-row">
                            <div style="width: 100%;">
                                <div class="form-group">
                                    <input type="hidden" name="userId" value="<%= userId %>" />
                                    <input type="hidden" name="userName" value="<%= userName %>" />
                                    <input type="hidden" name="prodName" value="<%= product.productName %>" />
                                    <textarea name="contents" placeholder="리뷰쓰기" style="padding: 3px 10px; width: 100%; border: 1px solid lightgray; height: 80px; resize: none;"></textarea>
                                </div>
                            </div>
                            <div style="width: 100%;">
                                <select id="product-star" class="sel-css" value="5" style="width: 15%; height: 40px;">
                                    <option value='1'>1점</option>
                                    <option value='2'>2점</option>
                                    <option value='3'>3점</option>
                                    <option value='4'>4점</option>
                                    <option value='5' selected>5점</option>
                                </select>
                                <button id="comment-input" class="btn pull-right text-white" style="width: 80%; height: 40px;">입력</button>
                            </div>
                        </div>
                    </form>
                    <div id="comment-list" class="be-comment-block">
                    </div>
                </div>
            </div>
        </div><!-- product-detail -->
    </div> <!-- /one-div-main -->
</div> <!-- /one-div -->
</body>
<script src="/javascripts/nav.js"></script>
<script src="/javascripts/oneMogeum.js"></script>
<script src="/javascripts/twoMogeum.js"></script>
<script src="/javascripts/oneDetail.js"></script>
<script src="/javascripts/threeDetail.js"></script>
<script>
    updateCnt();
    if (checkMobile() === 'ios') {
        $("#one-div-main").css("margin-top", "80px");
    } // ios css 고려
    selectReview();
    $('#review-form').on('submit', function (event) {
    event.preventDefault();
    addReview().then(data => {
        if (data.status === 1) { // 의견 등록 성공
            selectReview();
        } else { // 의견 등록 실패
            alert("로그인이 필요합니다!");
        }
    }); 
});
$('#cart-form').on('submit', function (event) {
    event.preventDefault();
    addCart().then(data => {
        if (data.status === 1) { // 최초 장바구니 담을 때
            alert("해당 상품을 장바구니에 담았습니다!");
        } else if (data.status === 0) { // 이미 장바구니에 담겨있을 때
            alert("이미 장바구니에 담긴 상품입니다!");
        } else {
            alert("장바구니 담기 중 문제가 발생했습니다.");
        }
    }); 
});
</script>
</html>
