<div id="one-div" class="col-div" style="width: 100%;">
    <button type="button" id="top" style="width: 60px; height: 60px;">
        <img src="/images/top.png" width="30" height="30" alt="scroll top" />
    </button>
    <div class="col-div mb-3" id="res-header">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 15px 0;">
                <a href="/mogeum/1" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <b class="d-day text-danger bg-white" style="margin: 0 10px;">D-15</b>
                        <h4 class="font-weight-bold">5월의 상품에 투표해 주세요!</h4>
                    </div>
                    <span id="sub-notice" style="font-size: 14px;">상품화 되었으면 하는 제품 및 아이디어에 투표해 주세요.</span>
                </a>
            </li>
        </ol>
    </div>
    <div id="one-div-main" class="container mb-6">
        <!-- 제품 간단 소개, 투표 상태 -->
        <div id="current-vote" class="mb-3">
            <h5 class="font-weight-bold mt-3 mb-3 text-center prodName"><%= prodList.productName %></h5>
            <p class="text-center"><%= prodList.productIntro %></p>
            <form id="vote-form" method="POST" action="/vote?_method=PUT" onsubmit="return validate();">
                <button id="is-vote" class="text-white">선정 완료</button>
                <input type="hidden" name="productNum" value="<%= prodList.productNum %>" />
            </form>
            <p class="mt-5 mb-4 text-center" style="color: #AD8EDB;">TOP6로 선정되어 <b>상품화 진행중</b>입니다.<br />많은 관심 감사합니다!</p>
            <div class="text-center mt-2 mb-5">
                <a href="#"><img src="/images/share.png" width="25" height="25" alt="share" /></a>
                <a href="http://google.com/" target="_blank"><img src="/images/gmail.png" width="30" height="30" alt="gmail" /></a>
                <a href="https://www.youtube.com/" target="_blank"><img src="/images/youtube.png" width="30" height="30" alt="youtube" /></a>
                <a href="https://www.instagram.com/" target="_blank"><img src="/images/instagram.png" width="30" height="30" alt="instagram" /></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="/images/facebook.png" width="30" height="30" alt="facebook" /></a>
                <a href="https://twitter.com/" target="_blank"><img src="/images/twitter.png" width="30" height="30" alt="twitter" /></a>
                <a href="https://www.kakaocorp.com/" target="_blank"><img src="/images/kakaotalk.png" width="30" height="30" alt="kakaotalk" /></a>
             </div>
            <div>
                <p class="mt-4 mb-0 text-center" style="font-size: 14px;"><b>성별</b>에 따른 투표 비율</p>
                <canvas id="gender-chart" class="chart text-center" style="max-width: 300px;"></canvas>
                <p class="mt-4 mb-0 text-center" style="font-size: 14px;"><b>연령</b>에 따른 투표 비율</p>
                <canvas id="age-chart" class="chart text-center"></canvas>
            </div>
        </div>
        <div id="product-detail" class="mb-50" style="z-index: 0;">
            <!-- 제품 사진 -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="custCarousel" class="carousel slide text-center" data-ride="carousel">
                            <!-- slides -->
                            <div class="carousel-inner">
                                <div class="carousel-item active"><img src="<%= prodList.thumbnailImg %>" alt="Hills" /></div>
                                <div class="carousel-item"><img src="<%= prodList.detailImg1 %>" width="500" height="500" alt="Hills" /></div>
                                <div class="carousel-item"><img src="<%= prodList.detailImg2 %>" width="500" height="500" alt="Hills" /></div>
                                <div class="carousel-item"><img src="<%= prodList.detailImg3 %>" width="500" height="500" alt="Hills" /></div>
                            </div>
                            <!-- Left right -->
                            <a class="carousel-control-prev" href="#custCarousel" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#custCarousel" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                            <!-- Thumbnails -->
                            <ol class="carousel-indicators list-inline">
                                <li class="list-inline-item active">
                                    <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel">
                                        <img src="<%= prodList.thumbnailImg %>" class="img-fluid" width="100" height="100"/>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel">
                                        <img src="<%= prodList.detailImg1 %>" class="img-fluid" width="100" height="100"/>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel">
                                        <img src="<%= prodList.detailImg2 %>" class="img-fluid" width="100" height="100"/>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel">
                                        <img src="<%= prodList.detailImg3 %>" class="img-fluid" width="100" height="100"/>
                                    </a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 제품 소개 -->
            <div id="detail-intro">
                <hr class="mb-3" />
                <h6 class="text-center text-dark font-weight-bold mb-0">제품명 : <%= prodList.productName %></h6>
                <hr class="mt-3" />
                <input type="hidden" id="prodDetail" value="<%= prodList.productDetail %>" />
                <p id="showDetail" class="text-dark"></p>
            </div>
        </div><!-- product-detail -->
    </div> <!-- /one-div-main -->
</div> <!-- /one-div -->
</body>
<script src="/javascripts/nav.js"></script>
<script src="/javascripts/oneMogeum.js"></script>
<script src="/javascripts/twoMogeum.js"></script>
<script src="/javascripts/oneDetail.js"></script>
<script>
if (checkMobile() === 'ios') {
    $("#one-div-main").css("margin-top", "80px");
} // ios css 고려
showChart();
/* 제품 설명 개행 적용 */
showProdDetail();
</script>
</html>
