<div id="one-div" class="col-div" style="width: 100%;">
    <div class="col-div" id="res-header">
        <ol style="margin-bottom: 0;">
            <li class="notice-li text-center" style="height: 80px; border: none; border-radius: 0; padding: 15px 0;">
                <a href="/mogeum/2" class="text-white">
                    <div style="display: flex; justify-content: center;">
                        <h4 class="font-weight-bold">5월의 상품을 소개합니다</h4>
                    </div>
                    <span id="sub-notice" style="font-size: 14px;">투표 결과 및 운영진들의 판단에 따라 선정된, 이 달의 상품입니다!</span>
                </a>
            </li>
        </ol>
    </div>
    <button type="button" id="top" style="width: 60px; height: 60px;">
        <img src="/images/top.png" width="30" height="30" alt="scroll top" />
    </button>
    <div class="container" style="margin-bottom: 50px;">
        <h5 class="font-weight-bold mt-3 mb-3">TOP6 선정되어 상품화 진행 중에 있습니다!</h5>
        <% for (var i = 0; i < 6; i++) { %> <% var progress = 16 * (i + 1); %>
        <div class="row">
            <div class="col-lg-7 col-sm-12">
                <div class="row" style="cursor: pointer;">
                    <div class="col-lg-4 col-sm-4 col-xs-4 two-image">
                        <% if (selectResults[i] !== undefined) { %>
                        <a href="/mogeum-detail/2/<%= selectResults[i].productNum %>">
                            <img src="<%= selectResults[i].thumbnailImg %>" class="img-fluid" />
                        </a>
                        <% } %>
                        <p class="vote-label">총 <%= selectResults[i].voteCount %>표</p>
                    </div>
                    <div class="col-lg-8 col-sm-8 col-xs-8">
                        <div class="two-title">
                            <a href="/mogeum-detail/2/<%= selectResults[i].productNum %>" style="font-size: 16px;">
                                <% if (selectResults[i] !== undefined) { %>
                                <strong><%= selectResults[i].productName %></strong>
                                <% } %>
                            </a>
                        </div>
                        <div class="two-content">
                            <% if (selectResults[i] !== undefined) { %> <%= selectResults[i].productIntro %> <% } %>
                        </div>
                        <br />
                        <div class="progress">
                            <div
                                class="progress-bar progress-bar-custom"
                                role="progressbar"
                                aria-valuenow="33"
                                aria-valuemin="0"
                                aria-valuemax="100"
                                style="width: <%= progress %>%;"
                            ></div>
                        </div>
                        <div class="row">
                            <div class="col-3" id="progress-content">선정 완료</div>
                            <div class="col-3" id="progress-content">제작 기업<br />컨택 중</div>
                            <div class="col-3" id="progress-content">제작 완료</div>
                            <div class="col-3" id="progress-content">판매 페이지<br />업로드</div>
                        </div>
                    </div>
                </div>
            </div>
            <% if (i == 0) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        이 제품을 구매하시려고요?<br />
                        절대 후회하지 않으실 겁니다!
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="alert('상품이 출시되면 가입 시 등록한 이메일로 알림이 발송됩니다!')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />메일로 출시 알림 받기
                            </button>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="window.open('https://forms.gle/a71KeDQSgb84DvQk8')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />판매자에게 의견 보내기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %> <% if (i == 1) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        상품 제작이 끝나면<br />
                        많은 구매 부탁드립니다!
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="alert('상품이 출시되면 가입 시 등록한 이메일로 알림이 발송됩니다!')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />메일로 출시 알림 받기
                            </button>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="window.open('https://forms.gle/a71KeDQSgb84DvQk8')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />판매자에게 의견 보내기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %> <% if (i == 2) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        제가 만들었지만...<br />
                        정말 좋은 아이디어 상품인 거 같네요!
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="alert('상품이 출시되면 가입 시 등록한 이메일로 알림이 발송됩니다!')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />메일로 출시 알림 받기
                            </button>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="window.open('https://forms.gle/a71KeDQSgb84DvQk8')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />판매자에게 의견 보내기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %> <% if (i == 3) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        사면 후회 안 하시는 상품!<br />
                        세모금이 보장합니다~
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="alert('상품이 출시되면 가입 시 등록한 이메일로 알림이 발송됩니다!')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />메일로 출시 알림 받기
                            </button>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="window.open('https://forms.gle/a71KeDQSgb84DvQk8')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />판매자에게 의견 보내기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %> <% if (i == 4) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        삶의 질이 올라가는 제품<br />
                        함께 사용해요~
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="alert('상품이 출시되면 가입 시 등록한 이메일로 알림이 발송됩니다!')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />메일로 출시 알림 받기
                            </button>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="window.open('https://forms.gle/a71KeDQSgb84DvQk8')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />판매자에게 의견 보내기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %> <% if (i == 5) { %>
            <div class="col-lg-5 col-sm-12 content-right">
                <div class="oneword">
                    <strong>판매자의 한 마디</strong>
                    <div class="oneword-content">
                        모두에게 유용한 제품<br />
                        세모금을 만나서 상품화 됐습니다!
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="alert('상품이 출시되면 가입 시 등록한 이메일로 알림이 발송됩니다!')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />메일로 출시 알림 받기
                            </button>
                        </div>
                    </div>
                    <div class="col-6 oneword-menu">
                        <div class="row oneword-bottom">
                            <button type="button" onclick="window.open('https://forms.gle/a71KeDQSgb84DvQk8')">
                                <img src="/images/bell.png" class="oneword-img" width="30px;" height="30px;" />판매자에게 의견 보내기
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>
    <div class="container mb-5">
        <h5 class="font-weight-bold mt-3 mb-3">명예의 전당</h5>
        <hr />
        <section class="customer-logos slider">
            <div class="slide"><img src="/images/2월.PNG" /></div>
            <div class="slide"><img src="/images/uploads/sellProducts/도마1.png" /></div>
            <div class="slide"><img src="/images/uploads/sellProducts/물통1.png" /></div>
            <div class="slide"><img src="/images/uploads/sellProducts/샤워기1.png" /></div>
            <div class="slide"><img src="/images/3월.PNG" /></div>
            <div class="slide"><img src="/images/uploads/sellProducts/신발1.png" /></div>
            <div class="slide"><img src="/images/uploads/sellProducts/옥수수1.png" /></div>
            <div class="slide"><img src="/images/uploads/sellProducts/옷걸이1.png" /></div>
        </section>
    </div>
    <div class="container mb-5">
        <h5 class="font-weight-bold mt-3 mb-3">세모금의 협찬사</h5>
        <hr />
        <section class="a slider">
            <div class="slide">
                <a href="https://www.gachon.ac.kr/main.jsp" target="_blank"><img src="/images/가천대로고.jpg" /></a>
            </div>
            <div class="slide">
                <a href="https://www.sungshin.ac.kr/sites/main_kor/main.jsp" target="_blank"><img src="/images/성신여대로고.png" /></a>
            </div>
            <div class="slide">
                <a href="http://www.sejong.ac.kr/" target="_blank"><img src="/images/세종대로고.jpg" /></a>
            </div>
            <div class="slide">
                <a href="http://www.sookmyung.ac.kr/sookmyungkr/index.do" target="_blank"><img src="/images/숙명여대로고.png" /></a>
            </div>
            <div class="slide">
                <a href="http://www.ewha.ac.kr/ewha/index.do" target="_blank"><img src="/images/이화여대로고.jpg" /></a>
            </div>
            <div class="slide">
                <a href="https://cafe.naver.com/kusitms" target="_blank"><img src="/images/큐시즘.jpeg" /></a>
            </div>
            <div class="slide">
                <a href="/"><img src="/images/profile.png" /></a>
            </div>
        </section>
    </div>
